name: Run all tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.4, 3.5, 3.6, 3.7, 3.8, 3.9, "3.10"]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Show Python version
      run: python -V

    - name: Run the tests
      run: python setup.py test -q

    - name: Install it
      run: python setup.py install

    - name: Install asxxxx
      run: |
        wget --no-verbose --content-disposition https://github.com/6502org/6502.org/blob/b4a4f243d9ae3ea78fc14a487bac650b5a3f7a12/public/tools/asm/asxv5p40_20220112.zip?raw=true
        unzip -q asxv5p40_20220112.zip
        make -C asxv5pxx/asxmak/linux/build all
        echo "$PWD/asxv5pxx/asxmak/linux/build" >> $GITHUB_PATH

    - name: Install srecord
      run: sudo apt-get install -y srecord

    - name: Disassemble and reassemble the test program
      run: |
        make -C k0dasm/tests/end_to_end all
